<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">

    <%= include_gon(:init => true) %>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--  Normalize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

    <!-- styles and scripts in asset pipeline -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Ensures proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <body>

      <%= yield %>

      <footer class="footer">
          <div class="container">
              <span class="text-muted">This site has been brought to you by my azz. Holla.</span>
          </div>
      </footer>

  </body>
</html>
